random forests will only handle tabular data while neural networks cna handle all sorts of data types. A random forest model with a sufficient number of estimators and tree depth should be able to perform at a similar capacity to most deep learning models

In [1]:
#imports 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np  
import tensorflow as tf
from path import Path

In [2]:
#load data
file_path = Path("../Resources/loan_status.csv")
loans_df = pd.read_csv(file_path)
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

since random forests and sequential deep learning models both require preprocessing we don't need to keep track of separate scaled and unscaled data

In [3]:
#generate categorical variable list 
loan_cat = loans_df.dtypes[loans_df.dtypes=="object"].index.tolist()
#check number of unique values
loans_df[loan_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [4]:
#years in current job has 11 unique values. we should check the number of data points for each unique value to find out if any categorical variables need to be bucketed  

loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
&lt;_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [5]:
#each category has a significant number of values. we don't want to bucket these and potentially confuse the model

#create onehotencoder instance
enc = OneHotEncoder(sparse=False)

#fit and transform using categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loan_cat]))

#add encoded variables to the dataframe
encode_df.columns = enc.get_feature_names(loan_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
#merge encoded features and drop originals
loans_df = loans_df.merge(encode_df, left_index=True, right_index=True)
loans_df = loans_df.drop(loan_cat,1)
loans_df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [8]:
#remove loan status target from feature data
y = loans_df.Loan_Status_Fully_Paid.values
X = loans_df.drop(columns=["Loan_Status_Fully_Paid", "Loan_Status_Not_Paid"]).values

#split into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify=y)

#create standardscaler instance
scaler = StandardScaler()

#fit the scaler
X_scaler = scaler.fit(X_train)

#scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
#create random forest model. 128 estimators is the largest number of estimators we want to use in a model 
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

#fit the model 
rf_model.fit(X_train_scaled, y_train)

#evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f"Random forest predictive accuracy: {accuracy_score(y_test, y_pred):.3f}")

Random forest predictive accuracy: 0.849

In [10]:
#define deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

#add first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

#add second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

#add output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#compile the model and customize metrics 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
#train the deep nn
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

#evaluate the model 
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 27317 samples
Epoch 1/50
27317/27317 [==============================] - 5s 194us/sample - loss: 0.4197 - accuracy: 0.8364
Epoch 2/50
27317/27317 [==============================] - 4s 137us/sample - loss: 0.3860 - accuracy: 0.8490
Epoch 3/50
27317/27317 [==============================] - 3s 107us/sample - loss: 0.3822 - accuracy: 0.8494
Epoch 4/50
27317/27317 [==============================] - 3s 124us/sample - loss: 0.3800 - accuracy: 0.8491
Epoch 5/50
27317/27317 [==============================] - 3s 122us/sample - loss: 0.3786 - accuracy: 0.8494
Epoch 6/50
27317/27317 [==============================] - 3s 113us/sample - loss: 0.3772 - accuracy: 0.8494
Epoch 7/50
27317/27317 [==============================] - 4s 141us/sample - loss: 0.3766 - accuracy: 0.8495
Epoch 8/50
27317/27317 [==============================] - 3s 127us/sample - loss: 0.3761 - accuracy: 0.8495
Epoch 9/50
27317/27317 [==============================] - 3s 111us/sample - loss: 0.3753 - accuracy: 0.8493
Epoch 10/50
27317/27317 [==============================] - 3s 103us/sample - loss: 0.3748 - accuracy: 0.8495
Epoch 11/50
27317/27317 [==============================] - 3s 105us/sample - loss: 0.3743 - accuracy: 0.8498
Epoch 12/50
27317/27317 [==============================] - 3s 125us/sample - loss: 0.3737 - accuracy: 0.8497
Epoch 13/50
27317/27317 [==============================] - 3s 126us/sample - loss: 0.3730 - accuracy: 0.8497
Epoch 14/50
27317/27317 [==============================] - 3s 123us/sample - loss: 0.3728 - accuracy: 0.8496
Epoch 15/50
27317/27317 [==============================] - 3s 119us/sample - loss: 0.3721 - accuracy: 0.8499
Epoch 16/50
27317/27317 [==============================] - 3s 117us/sample - loss: 0.3717 - accuracy: 0.8499
Epoch 17/50
27317/27317 [==============================] - 3s 119us/sample - loss: 0.3715 - accuracy: 0.8500
Epoch 18/50
27317/27317 [==============================] - 3s 114us/sample - loss: 0.3711 - accuracy: 0.8501
Epoch 19/50
27317/27317 [==============================] - 3s 114us/sample - loss: 0.3707 - accuracy: 0.8502
Epoch 20/50
27317/27317 [==============================] - 3s 119us/sample - loss: 0.3706 - accuracy: 0.8499
Epoch 21/50
27317/27317 [==============================] - 3s 125us/sample - loss: 0.3698 - accuracy: 0.8502
Epoch 22/50
27317/27317 [==============================] - 3s 103us/sample - loss: 0.3699 - accuracy: 0.8496
Epoch 23/50
27317/27317 [==============================] - 3s 103us/sample - loss: 0.3697 - accuracy: 0.8501
Epoch 24/50
27317/27317 [==============================] - 3s 103us/sample - loss: 0.3691 - accuracy: 0.8501
Epoch 25/50
27317/27317 [==============================] - 3s 106us/sample - loss: 0.3687 - accuracy: 0.8505
Epoch 26/50
27317/27317 [==============================] - 3s 112us/sample - loss: 0.3690 - accuracy: 0.8504
Epoch 27/50
27317/27317 [==============================] - 3s 115us/sample - loss: 0.3676 - accuracy: 0.8510
Epoch 28/50
27317/27317 [==============================] - 3s 107us/sample - loss: 0.3680 - accuracy: 0.8505
Epoch 29/50
27317/27317 [==============================] - 3s 110us/sample - loss: 0.3677 - accuracy: 0.8504
Epoch 30/50
27317/27317 [==============================] - 3s 113us/sample - loss: 0.3673 - accuracy: 0.8506
Epoch 31/50
27317/27317 [==============================] - 3s 110us/sample - loss: 0.3670 - accuracy: 0.8507
Epoch 32/50
27317/27317 [==============================] - 3s 124us/sample - loss: 0.3665 - accuracy: 0.8507
Epoch 33/50
27317/27317 [==============================] - 3s 126us/sample - loss: 0.3662 - accuracy: 0.8506
Epoch 34/50
27317/27317 [==============================] - 3s 126us/sample - loss: 0.3660 - accuracy: 0.8508
Epoch 35/50
27317/27317 [==============================] - 3s 125us/sample - loss: 0.3663 - accuracy: 0.8506
Epoch 36/50
27317/27317 [==============================] - 3s 112us/sample - loss: 0.3656 - accuracy: 0.8512
Epoch 37/50
27317/27317 [==============================] - 3s 120us/sample - loss: 0.3658 - accuracy: 0.8514
Epoch 38/50
27317/27317 [==============================] - 4s 131us/sample - loss: 0.3653 - accuracy: 0.8509
Epoch 39/50
27317/27317 [==============================] - 3s 123us/sample - loss: 0.3650 - accuracy: 0.8510
Epoch 40/50
27317/27317 [==============================] - 3s 117us/sample - loss: 0.3647 - accuracy: 0.8508
Epoch 41/50
27317/27317 [==============================] - 3s 113us/sample - loss: 0.3648 - accuracy: 0.8513
Epoch 42/50
27317/27317 [==============================] - 3s 119us/sample - loss: 0.3643 - accuracy: 0.8510
Epoch 43/50
27317/27317 [==============================] - 3s 103us/sample - loss: 0.3643 - accuracy: 0.8511
Epoch 44/50
27317/27317 [==============================] - 3s 118us/sample - loss: 0.3642 - accuracy: 0.8517
Epoch 45/50
27317/27317 [==============================] - 4s 130us/sample - loss: 0.3635 - accuracy: 0.8521
Epoch 46/50
27317/27317 [==============================] - 3s 114us/sample - loss: 0.3638 - accuracy: 0.8518
Epoch 47/50
27317/27317 [==============================] - 3s 105us/sample - loss: 0.3634 - accuracy: 0.8515
Epoch 48/50
27317/27317 [==============================] - 3s 119us/sample - loss: 0.3633 - accuracy: 0.8518
Epoch 49/50
27317/27317 [==============================] - 3s 122us/sample - loss: 0.3630 - accuracy: 0.8520
Epoch 50/50
27317/27317 [==============================] - 4s 132us/sample - loss: 0.3627 - accuracy: 0.8521
9106/1 - 1s - loss: 0.4250 - accuracy: 0.8452
Loss: 0.38881195106009925, Accuracy: 0.8451570272445679

comparing both models accuracy scores we see that their output is very similar. both were able to predict whether or not a loan will be repaid over 80% of the time. Although their performance was similar, the deep learning model took minutes to train while the random forest took seconds. The random forest was able to achieve comparable results with less code and faster performance. If a dataset is tabular a random forest is a great place to start.